{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {myapp, "0.1.0"},
  [myapp, sasl]},
  {mode, dev},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"}
]}.

{project_app_dirs, ["src/*"]}.

{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.

{plugins, [todo]}.

{is_umbrella, true}.
